<!DOCTYPE html>
<<<<<<< HEAD
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="/js/logicavista.js" type="text/javascript"></script>
  </head>
  <body>
=======
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Express MVC</title>
 
  <!-- CSS  -->
  <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
 
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Express MVC</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container">
>>>>>>> 27a01c5a994f97738c2aee97e385a19a4881b706
    {{{body}}}
 
    <hr>
    <footer class="footer">
        <p>&copy; Express MVC</p>
    </footer>
  </div> <!-- /container -->
 
  <!--  Scripts-->
  <script src="/js/jquery.min.js" charset="utf-8"></script>
  <script src="/js/bootstrap.min.js" charset="utf-8"></script>

 
  </body>
</html>