<h1>Factura orden de compra</h1>
    <table>
        <tr>
            <th>No. Orden compra</th>
            <td>12345</td>
            <th>Fecha</th>
            <td>13 junio 2016</td>
            <th>Empleado</th>
            <td>Pepito perez</td>

        </tr>
        <tr>
            <th>nit Proveedor</th>
            <td>distrielectricos</td>
            <th>nombre</th>
            <td>pedro</td>
            <th>cedula</th>
            <td>123456789</td>
            <th>direccion</th>
            <td>calle falsa123</td>
            <th>telefono</th>
            <td>222222</td>
        </tr>
        <tr>
            <th><button type="button" name="buscar">Buscar</button></th>
            <th><button type="button" name="agregarProv">Agregar proveedor</button></th>
        </tr>

        <tr>

            <th>item</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
        <tr>
            <td></td>
            <td>
                <select name="OS">
                  <option value="1">producto1</option>
                  <option value="2">producto2</option>
                  <option value="3">producto3</option>
                  <option value="10">producto4</option>
                  <option value="11">producto5</option>
                  <option value="12">producto6</option>
                </select>
            </td>
            <td>7</td>
            <td>3</td>
            <td>21</td>
        </tr>
        <tr>
          <th><button type="button" name="agregarProd">Agregar Producto</button></th>
        </tr>
        <tr>
            <td colspan="3">Subtotal</td>
            <td>250</td>
        </tr>
        <tr>
            <td colspan="3">Gastos de envío</td>
            <td>5</td>
        </tr>
        <tr>
            <td colspan="3">Precio total</td>
            <td>255</td>
        </tr>
    </table>
